/* body {
    background-color: pink;
} */

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color : #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;/* The '!important' rule forces this color to override other conflicting styles, even if they have higher specificity */
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
   font-size: 1.2rem;
   margin-right: 1rem;

}
.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .image-overlay {
    opacity: 0.2;
}

.square-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 0;
}

/* showpage */

.show-img {
    height: 50vh;
    object-fit: cover;
}

.edit-btn {
    background-color: #fe424d !important;
    border-color: #fe424d !important;
    color: white !important;
}

.show-card {
    padding-left : 0;
    padding-right : 0;
}

/* Sticky footer structure */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    min-height: 100vh;        /* full height */
    display: flex;
    flex-direction: column;   /* vertical layout */
}

#content-wrap {
    flex: 1;                  /* pushes footer to bottom */
}

